$dark_gray: #2B2E2E;
$light_gray: #C0C1C1;
$purple: #866496;
$dark_purple: #675475;

@mixin bold_font {
  font-family: "Brandon Grotesque","Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  padding-top: 4.5rem;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.wrapper_with_padding {
  width: 70%;
  margin: 0 auto;
  padding: 2.5rem 4rem;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: $dark_gray;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:1279px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.clearfix:after {
  clear: both;
}

button, .button {
  border: none;
  outline: none;
  background: $purple;
  padding: 1rem 3.5rem;
  border-radius: 2rem;
  a {
    color: white;
    text-decoration: none;
  }
}

.button {
  color: white;
  margin: 2rem 0;
}

a {
  color: $purple;
  text-decoration: none;
  &:hover {
    color: $dark_gray;
  }
}

header {
  background: $dark_gray;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.75rem 0;
  border-bottom: 7px solid $purple;
  .header_inner {
    width: 90%;
    margin: 0 auto;
    #logo {
      display: inline-block;
      width: 10rem;
      float: left;
    }
    nav {
      float: right;
      a {
        text-decoration: none;
        color: white;
        font-size: 1.1rem;
        line-height: 1.5;
        margin-left: 1rem;
        &:hover {
          color: $purple;
        }
      }
    }
  }
}

footer {
  background: $dark_gray;
  width: 100%;
  padding: 2rem 0;
  color: white;
  text-align: center;
  @include bold_font;
  p {
    margin: 0;
    font-size: .85rem;
  }
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid $light_gray;
  border-radius: .4rem;
}

input[type="text"], input[type="email"], input[type="password"] {
  height: 40px;
}

textarea {
  min-height: 200px;
}

