#banner {
  background-image: url(image_path("welcome_banner_image.jpg"));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  min-height: 500px;
  display: table;
  .banner_content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    h1 {
      @include bold_font;
      color: white;
      font-size: 3.5rem;
      margin: 0;
    }
    p {
      font-size: 1.5rem;
      margin: 0 0 2.5rem 0;
      color: rgba(250, 250, 250, 0.5);
    }
  }
}

#faq {
  background-color: #f6f7fb;
  width: 100%;
  min-height: 400px;
  display: table;
  border-bottom: 1px solid #e4e9ed;
  .wrapper {
    text-align: center;
    padding-bottom: 10px;
  }
  h2 {
      @include bold_font;
      color: $dark_gray;
      margin-bottom: 0;
      font-size: 3rem;
    }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    color: $dark_gray;
    font-size: 1.2rem;
    font-weight: normal;
  }
    p {
      color: $dark_gray;
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: left;
    }
  .faq {
    float: center;
    text-align: center;
    width: 33.3333%;
    padding-top: 1.5rem;
    display: inline-block;
    padding-bottom: 5px;
    margin-right: 60px;
    margin-left: 60px;
  }
  .fa {
    display: inline;
  }
  i {
    font-size: 2.5rem;
    color: $purple;
  }
}

#callouts {
  background-image: url(image_path("callout_background.jpg"));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  min-height: 400px;
  display: table;
  .callout_inner {
    display: table-cell;
    vertical-align: middle;
  }
  .callout {
    text-align: center;
    width: 33.3333%;
    padding: 1.5rem 2.5%;
    float: left;
    i {
      font-size: 2.5rem;
      color: $purple;
    }
    h2 {
      @include bold_font;
      color: white;
      margin-bottom: 0;
    }
    p {
      color: rgba(250, 250, 250, 0.4);
    }
  }
}

#bottom_cta {
  text-align: center;
  padding: 1rem 0;
  h2 {
    @include bold_font;
    color: $dark_gray;
    display: inline-block;
  }
  button {
    display: inline-block;
    margin-left: 2rem;
  }
}
